body {
    background-color: #141825;
    color: rgb(178, 212, 230);
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: ". ."
                        "main sec-nav"
                        "foot foot";
    position: relative;
    top: 10vw;
}
main {
    /* position: relative;
    top: 10vw; */
    margin-bottom: 2em;
}
h2 {
    text-decoration: none;
    text-align: center;
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header {
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    display: flex;
    height: 10vw;
    width: 100%;
    grid-area: head;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    background-color: rgba(10, 13, 21, 0.9);
    z-index: 1;
    top: 0;
}
header img {
    order: -1;
}

nav > ul {
    list-style: none;
}

header nav {
    padding: 1em;
}
header nav > ul {
    display: flex;
    gap: 1em;
}
header nav > ul > li {
    background-color: #2b324a;
    padding: .5em;
    border-radius: .25em;
}
header nav > ul > li

header > img {
    max-width: 400px;
    height: auto;
    order: -1;
    object-fit: cover;
}

#facts-section {
    display: grid;
}
table {
    background-color: #1c2132;
    padding: 10px;
    border-radius: 10px;
}
tr:nth-child(even) {
    background-color: rgb(43, 51, 74, 30%);
}
tr:nth-child(odd) {
    background-color: rgb(43, 51, 74, 10%);
}
td {
    text-align: center;
    border-bottom: 1px #353d5b;

}

#quote-section {
    grid-area: quote;

}
blockquote{
    background-color: rgb(28, 33, 50);
    max-width: 70%;
    padding: 20px;
    font-style: italic;
    border-radius: 1em;
}
#speaker {
    font-size: small;
    font-weight: 200;
    color: rgba(178, 212, 230, .70);
}
.title {
    color: rgba(178, 212, 230, .30);
}
a:link {
    color: rgb(188, 110, 123);
    text-decoration: none;
    font-weight: bold;
}
a:visited {
    color: rgb(115, 69, 77)
}
a:hover {
    color: rgb(216, 138, 151);
}
form {
    background-color: #1c2132;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
input, textarea {
    background-color: #2b324a;
    color: #b2d4e6;
    border-radius: 5px;
    border-style: none;
    padding: .5em;
}
textarea {
    width: 50%;
    height: 10em;
}
input:focus, textarea:focus {
    background-color: #69769e;
}
fieldset {
    background-color: #b2d4e6;
}

table img {
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 1em;
}

#right-panel {
    grid-area: sec-nav;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 10vw;
    width: 25%;
}
#right-panel nav > ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* padding: 0%; */
}
#right-panel nav li {
    background-color: #1c2132;
    padding: 1em;
    border-radius: 1em 0 0 1em;
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#right-panel nav li:hover, nav li:hover {
    background-color: #394260;
}

footer {
    grid-area: foot;
    /* position: fixed;
    bottom: 0;
    height: 2em; */
}
